$all-padding: 0 105px;
$main-color-black: #000;
$main-font-montserrat: 'Montserrat', sans-serif;
$secondary-font-times: 'Times New Roman', Times, serif;
$main-bg-color: #d03958;
$main-color-white: #fff;
$secondary-bg-color: #e3d5b8;